<div class="cart">
  {{#each shoppingCart.products as |product|}}
    <div class="cart-product">
      {{product.name}}--{{product.cost}}
      <button {{action 'removeProduct' product}}>Remove</button>
    </div>
  {{/each}}
<<<<<<< HEAD
  <button {{action 'empty' product}}>Clear Cart</button>
=======
<<<<<<< HEAD
  <button {{action 'empty' product}}>Clear Cart</button>
  <hr>
  Total: Ksh.{{shoppingCart.total}}
  </div>
=======
>>>>>>> cf950e71d9b380c4c9122cb338ca22c44a4b4712
</div>
>>>>>>> dc39de4a64896411e8930d62a5f1caf57c60455a
